#home.bienes-raices 
    h1.titulo Extraordinary Real Estate In Punta Mita, Mexico.

#bienes-raices 
    .container
        .is-hidden-desktop 
            .separador
        h1.titulo Extraordinary Real Estate In Punta Mita, Mexico.
        p Punta Mita has a tapestry of residential choices ensconced behind the gates of a world-class resort near Puerto Vallarta, Mexico. Defined by a well-conceived, low-density master plan, Punta Mita encompasses more than 1,500 acres on a beautiful peninsula surrounded on three sides by nine and a half miles of sugary sand beaches and alluring blue waters, and by breathtaking flora to the southeast. Located on the peninsula called Punta de Mita, this gated community is preferred for its uncompromising privacy, proximity to Puerto Vallarta and diverse collection of spacious Punta Mita real estate properties, including a variety of extraordinary new residences, one of which will surely match your architectural preferences and lifestyle.
        figure.image.is-16-9.mt-4.mb-6 
            img(src!="<?php echo BASEPATH . 'assets/img/real-1.jpg';?>", alt="Bienes raices Punta mita")
        
        h1.titulo FOR SALE & LEASE 

        .columns.is-desktop.mb-5
            .column
                p.title.is4.has-text-centered.is-uppercase SALES
                ul 
                    li 
                        a(href="http://www.puntamita.com/") Punta Mita
            .column
                p.title.is4.has-text-centered.is-uppercase HOMESITES
                ul 
                    li 
                        a(href="http://www.puntamita.com/category/homesites/kupuri-estates/") Kupuri 
                    li
                        a(href="http://www.puntamita.com/category/homesites/lagos-del-mar/") Lagos del Mar 
                    li
                        a(href="http://www.puntamita.com/category/homesites/la-punta-estates/") La Punta Estates
                    li
                        a(href="http://www.puntamita.com/category/homesites/ranchos-estates/") Ranchos Estates
                    li
                        a(href="http://www.puntamita.com/category/homesites/") Resales

            .column
                p.title.is4.has-text-centered.is-uppercase HOMES
                ul 
                    li
                        a(href="http://www.puntamita.com/category/el-encanto-villas/") El Encanto
                    li
                        a(href="http://www.puntamita.com/category/four-seasons-private-villas/") Four Seasons Private Villas
                    li
                        a(href="http://www.puntamita.com/category/villas-lagos-del-mar/") Lagos del Mar
                    li
                        a(href="http://www.puntamita.com/category/la-punta-estate-villas/") La Punta Estates
                    li
                        a(href="http://www.puntamita.com/category/ranchos-estate-villas/") Ranchos Estates
                    li
                        a(href="http://www.puntamita.com/category/la-serenata/") La Serenata
                    li
                        a(href="http://www.puntamita.com/category/signature-estate-villas/") Signature Estates
                    li
                        a(href="http://www.puntamita.com/category/porta-fortuna/") Porta Fortuna
                    li
                        a(href="http://www.puntamita.com/category/featured/") Resales
            .column
                p.title.is4.has-text-centered.is-uppercase CONDOMINIUMS & VILLAS
                ul 
                    li
                        a(href="http://www.puntamita.com/las-terrazas/") Las Terrazas
                    li
                        a(href="http://www.puntamita.com/category/condominiums/el-encanto-condominiums/") El Encanto
                    li
                        a(href="http://www.puntamita.com/category/las-palmas-villas/") Las Palmas
                    li
                        a(href="http://www.puntamita.com/category/condominiums/hacienda-de-mita/") Hacienda de Mita
                    li
                        a(href="http://www.puntamita.com/") Resales