section#home.contacto 
section#contacto
    .container 
        h1.titulo Contact and Location

        .columns.is-desktop 
            .column
                .mapa 
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d932.7343769409877!2d-105.43909610379829!3d20.753351841580482!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8427372b306de67f%3A0x3105fcdacac9f31e!2sM%C3%A9xico%20200!5e0!3m2!1sen!2smx!4v1635892688137!5m2!1sen!2smx" width="400" height="300" style="border:0;" allowfullscreen="false" loading="lazy")
                p.subtitulo Punta Mita HOA 
                p HomeOwners Association 
                p Carretera Fereral 200 km. 19
                p C.P. 63734 MÉXICO
                p Telefono (329) 291 5444
            
            .column 
                p.subtitulo Contact Mail 
                a(href="mailto:info@puntamitahoa.com") info@puntamitahoa.com

                p.title.is-4.is-uppercase.mt-3 PLEASE FILL-IN THE FOLLOWING FORM TO SEND A MESSAGE 

                form.mb-5
                    .field.is-horizontal 
                        .field-body 
                            .field 
                                p.control-is-expanded 
                                    input.input(type="text", placeholder="Name")

                            .field 
                                p.control-is-expanded 
                                    input.input(type="text", placeholder="Email")

                    .field.is-horizontal 
                        .field-body
                            .field 
                                p.control-is-expanded 
                                    input.input(type="tel", placeholder="Phone")
                            .field 
                                p.control-is-expanded 
                                    input.input(type="text", placeholder="Location")
                    .field.is-horizontal 
                        .field-body 
                            .field 
                                .control
                                    textarea.textarea(placeholder="Message")
                    .field.is-horizontal 
                        .field-body 
                            .field 
                                .control 
                                    button.button.is-primary ENVIAR
