section#home.quienes-somos 
    h1.titulo ABOUT US

section#quienes-somos 
    .container 
        .is-hidden-desktop 
            .separador
        h1.titulo ABOUT US

        p The Punta Mita Condominium Association welcomes you and your family to the premier community of Mexico. The Civil Association (Punta Mita’s HOA) is a non- profit corporation, which has managed the common areas of Punta Mita’s Master Condominium for 18 years.

        p Our organization manages and oversees the operation of the common areas in an efficient, neutral and equitable manner aiming to maintain and/or increase the property value

        h3.subtitulo HOA Services 
        
        .columns.is-multiline
            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/buildings-and-auxiliary-facilities_untitled-font-1.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Buildings & Auxiliary Facilities
                p Security guardhouses, fumigation, pest control, warehouse maintenance, guardhouse, sewage system, painting, wood jobs, phone bills & supplies.
           
            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/electricity_untitled-font-1.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Electricity & Lighting
                p Major & corrective maintenance, preventive maintenance, lighting repairs, energy savings, transformer maintenance, spare stock & CFE service payments.

            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/gardening_untitled-font-1 copia.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Gardening & Irrigation
                p Horticultural management of landscaped areas, shrub care, pest & disease management, turfarea management, garden renovation, gardening & irrigation equipment, plant supply & establishment, fertilizers, irrigation with water trucks & irrigation water payments.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/beach-and-road-cleaning_untitled-font-1.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Beach & Road Cleaning
                p Beach & road cleaning machinery operation & maintenance, garbage re-collection, truck operation & maintenance, cleaning supplies equipment & garbage disposal fee.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/Vialidades.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Access Roads
                p Concrete & roadside ditch maintenance, water drainage system & requisite cleaning (rain, construction, etc.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/police.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Security
                p Bilingual security guards, supervision vehicles and personnel, central communication office, fire security equipment & stock, external supervision & antidrug testing.




            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src!="<?php echo BASEPATH . 'assets/img/administrator.svg'; ?>", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Administration
                p Master condominium operation, administration & supervision staff, auditing, accountant´s services, common area insurance, Federal Zone concession & HOA office operation.

        p To stay in closer contact with Punta Mita’s residents, the Master HOA provide more ways to stay in touch with all that’s going on in our community, as well as facilitate a forum for our owners to connect with one another. Owners may sign up at www.puntamitahoa.com, where you’ll find news, upcoming events, restaurant guides, photo gallery, blogs, community directory, Punta Mita phonebook, Master HOA document library, amenities schedule and much more.
        p Once again, welcome to Punta Mita and please feel free to visit us at your Master HOA office and get to know the staff.
        p.subtitle.is-4.mt-4 Contáctenos en: 
        a(href="mailto:info@puntamitahoa.com") info@puntamitahoa.com  

        .columns.links-abajo.is-desktop.mt-6
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center
                a(href="https://www.fundacionpuntademita.org/").is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center.my-3
                    figure.image.is-96x96
                        img(src!="<?php echo BASEPATH . 'assets/img/fundacion-punta-mita_untitled-font-1.svg'; ?>", alt="logo fundacion punta mita")
                    p fundacion punta mita
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-content-center.is-align-items-center
                a.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center.my-3
                    figure.image.is-96x96
                        img(src!="<?php echo BASEPATH . 'assets/img/staff_untitled-font-1.svg'; ?>", alt="logo staff")
                    p personal de punta mita
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-content-center.is-align-items-center
                a(href="/galeria").is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center.my-3
                    figure.image.is-96x96
                        img(src!="<?php echo BASEPATH . 'assets/img/gallery_untitled-font-1.svg'; ?>", alt="logo galeria")
                    p galeria de fotos de punta mita