#home.servicios 
    h1.titulo SERVICES 

#servicios 
    .container 
        h1.titulo SERVICES 
        .columns.is-multiline.is-desktop.mb-6 
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src!="<?php echo BASEPATH . 'assets/img/business-center_untitled-font-1.svg'; ?>", alt="")
            .column.is-three-quarters 
                p.subtitle.is-4 BUSINESS CENTER
                p Seating 6 to 8 the HOA business room is a perfect venue for small meetings. The Business Center is equipped with Computers, Fax Machine, Copy Machine and Internet Access. In addition the room may be adapted for video projection as well.
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src!="<?php echo BASEPATH . 'assets/img/hospital_untitled-font-1.svg'; ?>", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 PUNTA MITA HOSPITAL
                p We are the most equipped and prepared hospital in Punta de Mita and surroundings. Always ready to provide you quality and excellence in medical care.
                p Our services: Primary Care · House Calls · ER 24/7 · Operating Rooms · ICU· Clinical Laboratory · CT-Scan · X-Ray · Private Suites · Pharmacy On-Site· Surgical & Specialties · Cardiology & Cath LAB · Fertility Center · Stem CellsProcedures.
                a(href="https://puntamitahospital.com/es/") Visitar Sitio Web
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src!="<?php echo BASEPATH . 'assets/img/emergency-response_untitled-font-1.svg'; ?>", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 EMERGENCY RESPONSE
                p We've trained personnel to identify emergencies to ensure professional care of cardiac emergencies and providing cardio-pulmonary resuscitation. Emergency (329) 291-6600
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src!="<?php echo BASEPATH . 'assets/img/shuttle_untitled-font-1.svg'; ?>", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 SHUTTLE
                p Introduced in 2007 by the HOA, the shuttle service provides convenient travel throughout the community for owners, rental guests and employees. The 12-seat van transports passengers virtually anywhere within the gates. With a prior arrangement, the shuttle can be chartered to go anywhere within Punta Mita.
                a.button.is-info.m-2(href="/assets/documents/Ruta_de_transporte_temporada_Alta_2021.pdf", target="_blank", download="Ruta_de_transporte_temporada_Alta_2021.pdf") Rutas
                a.button.is-info.m-2(href="/assets/documents/Ruta de transporte temporada Alta_Ruta5.pdf", target="_blank", download="Ruta_de_transporte_temporada_Alta_2021.pdf") Ruta 5

            
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                a(href="/apoyo-residentes") 
                    figure.image.is-96x96
                        img(src!="<?php echo BASEPATH . 'assets/img/uco-dispatcher-center_untitled-font-1.svg'; ?>", alt="")
            .column.is-three-quarters
                a(href="/apoyo-residentes")
                    p.subtitle.is-4.pb-5 UCO Dispatch Center (UCO)
                p The Operations Central Unit is responsible for providing the means by which Punta Mita homeowners and guest may report the existence of an incident requiring fire, police or ambulance response; and to provide the means by which the incoming reports and requests are received, managed and disseminated in a timely manner to the proper personnel and agencies

