#home.amenidades 
section#amenidades 
    .container 
        h1.titulo amenidades

        .columns.is-desktop.is-multiline 
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/golf.jpg", alt="Golf")
                    .card-content
                        .content
                            p.title.is4 CAMPO DE GOLF
                            p El Campo de Golf Punta Mita fue diseñado por Jack Nicklaus y creado sobre una superficie de más de más de 78 hectáreas. Este campo Jack Nicklaus Signature ofrece una experiencia de campeonato en 18 hoyos par 72 para para jugadores con habilidades de todos los niveles.
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/beach.jpg", alt="Club de playa")
                    .card-content
                        .content
                            p.title.is4 CLUB DE PLAYA
                            p Los clubs de playa son reservados exclusivamente para los propietarios de Punta Mita y sus invitados, los cuales gozan de lugares placenteros que se distinguen por su ubicación en la playa, piscinas y otras comodidades que hacen que un día o una noche en la costa sean aún más atractivos
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/restaurant.jpg", alt="Restaurante")
                    .card-content
                        .content
                            p.title.is4 GUÍA DE RESTAURANTES
                            p La experiencia de frescas y deliciosas recetas servidas acompañadas de muchas sonrisas amistosas y cálida hospitalidad.
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/tennis.jpg", alt="tennis")
                    .card-content
                        .content
                            p.title.is4 TENIS
                            p Las instalaciones actualizadas proveen de 10 canchas a los entusiastas del tenis. Tenis Resorts Online calificó a Punta Mita como uno de los 20 mejores resorts de tenis del mundo y el resort de tenis #1 en México. Administrado por Four Seasons en conjunto con Peter Burwash International, el club cuenta con cinco canchas duras y cinco de césped sintético junto con una tienda para profesionales y zona de casilleros. 
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/turtle.jpg", alt="Tortuga")
                    .card-content
                        .content
                            p.title.is4 PROYECTO DE RESTAURACIÓN DE LA TORTUGA MARINA
                            p Un recurso educativo y activista que protege a la población de tortugas marinas en peligro de extinción en maneras que cumplen con las necesidades ecológicas de las tortugas marinas, los océanos y...
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            img(src="assets/img/ocean-sports.jpg", alt="Deportes Acuaticos")
                    .card-content
                        .content
                            p.title.is4 PUNTA MITA OCEAN SPORTS
                            p Los embajadores oceánicos experimentados, profesionales y altamente calificados conforman el equipo central de Punta Mita Ocean Sports. Se asegurarán de que te mantengas tan activo como quieras en el paraíso tropical de Punta Mita 