#home.amenidades 
    h1.titulo amenidades

section#amenidades 
    .container 
        .is-hidden-desktop 
            .separador
        h1.titulo amenidades

        .columns.is-desktop.is-multiline 
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            a(href="https://clubpuntamita.com/", target="_blank")
                                img(src="assets/img/golf_amenidades.jpg", alt="Golf")
                    .card-content
                        .content
                            a(href="https://clubpuntamita.com/", target="_blank") #[p.title.is4 CAMPO DE GOLF]
                            p El Campo de Golf Punta Mita fue diseñado por Jack Nicklaus y creado sobre una superficie de más de más de 78 hectáreas. Este campo Jack Nicklaus Signature ofrece una experiencia de campeonato en 18 hoyos par 72 para para jugadores con habilidades de todos los niveles.
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            a(href="https://golfpuntamita.com/", target="_blank")
                                img(src="assets/img/beach.jpg", alt="Club de playa")
                    .card-content
                        .content
                            a(href="https://clubpuntamita.com/", target="_blank") #[p.title.is4 CLUB PUNTA MITA]
                            p Los clubs de playa son reservados exclusivamente para los propietarios de Punta Mita y sus invitados, los cuales gozan de lugares placenteros que se distinguen por su ubicación en la playa, piscinas y otras comodidades que hacen que un día o una noche en la costa sean aún más atractivos
            .column.is-half
                .card
                    .card-image
                        figure.image.is-1by1
                            a(href="https://clubpuntamita.com/", target="_blank")
                                img(src="assets/img/golf_amenidades.jpg", alt="Golf")
                    .card-content
                        .content
                            a(href="https://clubpuntamita.com/", target="_blank") #[p.title.is4 CAMPO DE GOLF]
                            p El Campo de Golf Punta Mita fue diseñado por Jack Nicklaus y creado sobre una superficie de más de más de 78 hectáreas. Este campo Jack Nicklaus Signature ofrece una experiencia de campeonato en 18 hoyos par 72 para para jugadores con habilidades de todos los niveles.