#home.bienes-raices 

#bienes-raices 
    .container
        h1.titulo Extraordinarios Inmuebles en Punta Mita.
        p Punta Mita cuenta con una rica complejidad de alternativas protegidas tras las puertas de un resort de clase mundial cerca de Puerto Vallarta, México. Definido por un plan maestro bien concebido y de baja densidad, Punta Mita abarca más de 607 hectáreas en una hermosa península rodeada en tres de su lados por más de quince kilómetros de playas de arena azucarada y atractivas aguas azules e impresionante flora hacia el sureste. Localizada en la península llamada Punta de Mita, esta comunidad privada es preferida por su estricta privacidad, cercanía a Puerto Vallarta y variada colección de espaciosas propiedades inmuebles, que incluyen una variedad de residencias nuevas extraordinarias, seguramente una de las cuales corresponderá a sus preferencias arquitectónicas y estilo de vida.
        figure.image.is-16-9.mt-4.mb-6 
            img(src="assets/img/real-1.jpg", alt="Bienes raices Punta mita")
        
        h1.titulo para venta y renta 

        .columns.is-desktop.mb-5
            .column
                p.title.is4.has-text-centered.is-uppercase en venta
                ul 
                    li 
                        a(href="http://www.puntamita.com/") Punta Mita
            .column
                p.title.is4.has-text-centered.is-uppercase lotes
                ul 
                    li 
                        a(href="http://www.puntamita.com/category/homesites/kupuri-estates/") Kupuri 
                    li
                        a(href="http://www.puntamita.com/category/homesites/lagos-del-mar/") Lagos del Mar 
                    li
                        a(href="http://www.puntamita.com/category/homesites/la-punta-estates/") La Punta Estates
                    li
                        a(href="http://www.puntamita.com/category/homesites/ranchos-estates/") Ranchos Estates
                    li
                        a(href="http://www.puntamita.com/category/homesites/") Resales

            .column
                p.title.is4.has-text-centered.is-uppercase residencias
                ul 
                    li
                        a(href="http://www.puntamita.com/category/el-encanto-villas/") El Encanto
                    li
                        a(href="http://www.puntamita.com/category/four-seasons-private-villas/") Four Seasons Private Villas
                    li
                        a(href="http://www.puntamita.com/category/villas-lagos-del-mar/") Lagos del Mar
                    li
                        a(href="http://www.puntamita.com/category/la-punta-estate-villas/") La Punta Estates
                    li
                        a(href="http://www.puntamita.com/category/ranchos-estate-villas/") Ranchos Estates
                    li
                        a(href="http://www.puntamita.com/category/la-serenata/") La Serenata
                    li
                        a(href="http://www.puntamita.com/category/signature-estate-villas/") Signature Estates
                    li
                        a(href="http://www.puntamita.com/category/porta-fortuna/") Porta Fortuna
                    li
                        a(href="http://www.puntamita.com/category/featured/") Resales
            .column
                p.title.is4.has-text-centered.is-uppercase condominios & villas
                ul 
                    li
                        a(href="http://www.puntamita.com/las-terrazas/") Las Terrazas
                    li
                        a(href="http://www.puntamita.com/category/condominiums/el-encanto-condominiums/") El Encanto
                    li
                        a(href="http://www.puntamita.com/category/las-palmas-villas/") Las Palmas
                    li
                        a(href="http://www.puntamita.com/category/condominiums/hacienda-de-mita/") Hacienda de Mita
                    li
                        a(href="http://www.puntamita.com/") Resales