section#home 

section#bienvenida 
    .container
        h1.titulo Bienvenidos
        p Punta Mita es una comunidad premier de Mexico, principalmente santuario de un centro turístico. Localizada en la punta norte de la Bahía de Banderas, una de las bahías más grandes en la Costa del Pacífico, este innovador desarrollo se extiende sobre una superficie de más de 607 hectáreas en una península con forma de lanza. 
        
        p Punta Mita se beneficia de uno de los climas más placenteros en el mundo a la vez que se rodea de playas de inmaculada arena blanca, flora tropical y aguas cristalinas de color azul. Punta Mita también es considerada uno de los mejores sitios para practicar el buceo y el snorkeleo y para surfear. Los entusiastas del Golf con seguridad descubrirán el paraíso mientras juegan al lado de las olas en el exclusivo campo de golf Jack Nicklaus que incluye un Green ubicado en una isla.

        p Punta Mita es hogar del Four Seasons, un resort St. Regis y dos campos de golf de exclusivos diseñados por Jack Nicklaus, así como propiedades residenciales. Completando esta comunidad resort residencial se cuenta con canchas de tenis, clubes de playa, Spa/centro de bienestar, centro ecuestre, muelle para yates y una pequeña villa comercial.

        .columns.is-desktop
            .column 
                figure.image.is-96x96.m-3
                    a(href="assets/documents/folleto-mapa.pdf" download="folleto-mapa.pdf" target="_blank") 
                        img(src="assets/img/map-pin.svg", alt="Pin en mapa")
                    a(href="assets/documents/folleto-mapa.pdf" download="folleto-mapa.pdf" target="_blank") 
                        p mapa de punta mita
            
            .column 
                figure.image.is-96x96.m-3
                    a(href="assets/documents/folleto-mapa.pdf" download="folleto-mapa.pdf" target="_blank") 
                        img(src="assets/img/icon-map-brochure.svg", alt="Folleto")
                    a(href="assets/documents/folleto-mapa.pdf" download="folleto-mapa.pdf" target="_blank") 
                        p folleto
            
            .column 
                figure.image.is-96x96.m-3
                    a(href="assets/img/qr-code.jpg" download="qr-code.jpg" target="_blank") 
                        img(src="assets/img/icon-qr.svg", alt="QR code")
                    a(href="assets/img/qr-code.jpg" download="qr-code.jpg" target="_blank") 
                        p código qr