section#home.quienes-somos 

section#quienes-somos 
    .container 
        h1.titulo ¿quiénes somos?

        p La Asociación de Condóminos de Punta Mita da la bienvenida a usted y su familia a la comunidad premier de México. La Asociación Civil (Punta Mita HOA) es una razón social sin fin de lucro, la cual ha estado administrando las áreas comunes del Condominio Maestro de Punta Mita durante 18 años. 

        p Nuestra organización se encarga de la supervisión de la operación de las áreas comunes de una manera eficiente, neutral y equitativa, con la finalidad de mantener y/o incrementar el valor de las propiedades 

        h3.subtitulo Servicios de la HOA 
        
        .columns.is-multiline
            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/buildings-and-auxiliary-facilities_untitled-font-1.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Edificios e Instalaciones Auxiliares
                p Casetas de seguridad, fumigación, control de plagas, mantenimiento de bodegas, casetas, Sistema de drenaje, trabajos de madera y pintura, cuentas de teléfono y suministros.
            
            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/electricity_untitled-font-1.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Electricidad e iluminación
                p Mantenimiento mayor y correctivo, mantenimiento preventivo, reparación de luminarias, ahorros de energía, mantenimiento a transformadores, suministros de repuesto y pagos de servicios a la CFE.

            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/gardening_untitled-font-1 copia.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Jardinería y Riego
                p Mantenimiento de áreas de paisaje, cuidado de arbustos, manejo de plagas y enfermedades, cuidado de áreas de pasto, renovación de jardines, equipo para jardinería y riego, suministro y colocación de plantas, fertilizantes, riego con pipas de agua y pagos de agua para riego.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/beach-and-road-cleaning_untitled-font-1.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Limpieza de Playas y Vialidades
                p Operación y mantenimiento de maquinaria de limpieza de playa y vialidades, recolección de basura, operación y mantenimiento de camión, suministros y equipo para limpieza, cuota por eliminación de desechos.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/Vialidades.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Vialidades de Acceso
                p Mantenimiento de cunetas de concreto y de vialidades, limpieza de sistemas de drenaje (pluviales, de construcción, etc.).


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/police.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Seguridad
                p Guardias de seguridad bilingües, vehículos y personal de supervisión, oficina central de comunicaciones, equipo de seguridad y suministros contra incendio, supervisión y pruebas anti doping externas.


            .column.is-one-quarter.is-flex.is-align-items-center.is-justify-content-center 
                figure.image.is-64x64 
                    img(src="assets/img/administrator.svg", alt="Herramientas")
            .column.is-three-quarters
                h3.title.is-5 Administración
                p Personal para operación, administración y supervisión del condominio maestro, auditorías, servicios contables, seguro para áreas comunes, concesión de Zona Federal y operación de la oficina de la HOA. 
        p Para permanecer en contacto directo con los residentes de Punta Mita, la HOA Central (Master) aporta varias maneras de estar comunicado con todo lo que está sucediendo en nuestra comunidad, así como facilita un foro en donde nuestros propietarios pueden contactarse entre sí. Los propietarios pueden registrarse en www.puntamitahoa.com, en donde podrán encontrar noticias, eventos próximos, guías de restaurantes, galería de fotos, blogs, directorio de la comunidad, directorio telefónico de Punta Mita, biblioteca de documentos de a HOA Central (Master), programa de amenidades y mucho más. Nuevamente, bienvenido a Punta Mita. Por favor tenga la confianza de visitarnos en las oficinas de la HOA Central (Master) y conocer a nuestro personal 
        p.subtitle.is-4.mt-4 Contáctenos en: 
        a(href="mailto:info@puntamitahoa.com") info@puntamitahoa.com  

        .columns.links-abajo.is-desktop.mt-6
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center
                a(href="https://www.fundacionpuntademita.org/").is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center
                    figure.image.is-96x96
                        img(src="assets/img/fundacion-punta-mita_untitled-font-1.svg", alt="logo fundacion punta mita")
                    p fundacion punta mita
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src="assets/img/staff_untitled-font-1.svg", alt="logo staff")
                p personal de punta mita
            .column.is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-content-center.is-align-items-center
                a(href="/galeria").is-flex.is-flex-direction-column.is-justify-content-center.is-align-content-center.is-align-items-center
                    figure.image.is-96x96
                        img(src="assets/img/gallery_untitled-font-1.svg", alt="logo galeria")
                    p galeria de fotos de punta mita