#home.servicios 

#servicios 
    .container 
        h1.titulo servicios 
        .columns.is-multiline.is-desktop.mb-6 
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src="assets/img/business-center_untitled-font-1.svg", alt="")
            .column.is-three-quarters 
                p.subtitle.is-4 CENTRO DE NEGOCIOS
                p Con capacidad para 6 a 8 personas, la sala de negocios de la HOA es un sitio perfecto para pequeñas reuniones. El Centro de Negocios está equipado con computadoras, Fax, Copiadora y Acceso a Internet. Adicionalmente, la sala también puede adaptarse para proyección de videos
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src="assets/img/hospital_untitled-font-1.svg", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 PUNTA MITA HOSPITAL
                p Somos el hospital mejor equipado y preparado de Punta de Mita y alrededores. Siempre listos para brindar excelencia y calidad en atención médica.
                p Nuestro Servicios: Atención Primaria · Consultas a Domicilio · Emergencias 24/7 · Quirófanos · UCI· Laboratorio Clínico · Tomografía · Rayos-X · Suites Privadas · Farmacia· Cirugías y Especialidades · Cardiología y Sala de Hemodinámica · Centro deFertilidad · Procedimientos con Células Madres 
                a(href="https://puntamitahospital.com/es/") Visitar Sitio Web
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src="assets/img/emergency-response_untitled-font-1.svg", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 RESPUESTA A EMERGENCIAS
                p Hemos capacitado personal para identificar emergencias y asegurar el cuidado profesional de emergencias cardiacas, así como proveer resucitación cardiopulmonar. Emergencias (329) 291-6600
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                figure.image.is-96x96
                    img(src="assets/img/shuttle_untitled-font-1.svg", alt="")
            .column.is-three-quarters
                p.subtitle.is-4 TRANSPORTE
                p Presentado por la HOA en el 2007, el servicio de transporte aporta transportación conveniente a propietarios, rentistas y empleados a través de la comunidad. Las camionetas con capacidad de 12 asientos trasportan a los pasajeros a virtualmente cualquier punto dentro del desarrollo. The 12-seat van transports passengers virtually anywhere within the gates. Mediante acuerdo previo es posible coordinar el transporte para ir a cualquier parte dentro de Punta Mita
            
            .column.is-one-quarter.is-flex.is-justify-content-center.is-align-items-center
                a(href="/apoyo-residentes") 
                    figure.image.is-96x96
                        img(src="assets/img/uco-dispatcher-center_untitled-font-1.svg", alt="")
            .column.is-three-quarters
                a(href="/apoyo-residentes")
                    p.subtitle.is-4.pb-5 UNIDAD CENTRAL OPERATIVA (UCO)
                p La Unidad Central Operativa es responsable de aportar los medios por los cuales los propietarios y huéspedes de Punta Mita puedan reportar la existencia de algún incidente que requiera respuesta de los bomberos, policía o ambulancias, así como proveer los medios a través de los cuales los reportes y solicitudes que se reciben son administrados y canalizados de manera efectiva hacia el personal y agencias apropiados.

