footer.footer 
    .container 
        .columns.is-desktop
            .column
                img(src!="<?php echo 'assets/img/logo_blanco.png'; ?>", alt="Logo de Punta Mita HOA")
            
            .column 
                a(href="/terminos-condiciones") Terminos y Condiciones 
            .column
                a(href="/politica-privacidad")  Politica de Privacidad