footer.footer 
    .container 
        .columns.is-desktop
            .column
                img(src!="<?php echo 'assets/img/logo_blanco.png'; ?>", alt="Logo de Punta Mita HOA")
            
            .column 
                a(href="/terminos-condiciones") Terminos y Condiciones 
            .column
                a(href="assets/documents/aviso-privacidad.pdf", target="_blank", download="aviso-privacidad.pdf")  
                    p Politica de Privacidad