footer.footer 
    .container 
        .columns.is-desktop
            .column
                img(src!="<?php echo 'assets/img/logo_blanco.png'; ?>", alt="Logo de Punta Mita HOA")
            
            .column 
                a(href="/terminos-condiciones") Terminos y Condiciones 
            .column
                ul 

                    li 
                        a(href="assets/documents/aviso-privacidad.pdf", target="_blank", download="aviso-privacidad-maestro.pdf")  
                            p Politica de Privacidad Maestro
                    li 
                        a(href="assets/documents/ranchosesp.pdf", target="_blank", download="aviso-privacidad-los-ranchos.pdf")  
                            p Politica de Privacidad Los Ranchos
                    li 
                        a(href="assets/documents/fortunaesp.pdf", target="_blank", download="aviso-privacidad-porta-fortuna.pdf")  
                            p Politica de Privacidad Porta Fortuna
                    li 
                        a(href="assets/documents/encantoesp.pdf", target="_blank", download="aviso-privacidad-el-encanto.pdf")  
                            p Politica de Privacidad El Encanto 
                    li 
                        a(href="assets/documents/cctv.pdf", target="_blank", download="aviso-privacidad-cctv.pdf")  
                            p Politica de Privacidad CCTV
                            