footer.footer 
    .container 
        .columns.is-desktop
            .column
                img(src!="<?php echo BASEPATH . 'assets/img/logo_blanco.png'; ?>", alt="Logo de Punta Mita HOA")
            
            .column 
                a(href="/terminos-condiciones") Terms and Conditions 
            .column
                ul 

                    li 
                        a(href="assets/documents/aviso-privacidad.pdf", target="_blank", download="aviso-privacidad-maestro.pdf")  
                            p Privacy Notice Master HOA
                    li 
                        a(href="assets/documents/ranchosesp.pdf", target="_blank", download="aviso-privacidad-los-ranchos.pdf")  
                            p Privacy Notice Los Ranchos
                    li 
                        a(href="assets/documents/fortunaesp.pdf", target="_blank", download="aviso-privacidad-porta-fortuna.pdf")  
                            p Privacy Notice Porta Fortuna
                    li 
                        a(href="assets/documents/encantoesp.pdf", target="_blank", download="aviso-privacidad-el-encanto.pdf")  
                            p Privacy Notice El Encanto 
                    li 
                        a(href="assets/documents/cctv.pdf", target="_blank", download="aviso-privacidad-cctv.pdf")  
                            p Privacy Notice CCTV
                            