pmh-dorado = #bc9742
pmh-texto = #696969
pmh-fondo = #FaFaFa
pmh-footer = #61605e



.titulo
    color: pmh-dorado
    letter-spacing: .25ch
    margin: 1rem 0 2.25rem 0
    text-align: center
    text-decoration: none
    text-transform: uppercase
    font-size: 1.5rem
    font-weight: 600

.subtitulo
    color: pmh-dorado
    margin: 1rem 0 2.25rem 0
    font-size: 1.5rem
    font-weight: 500

.separador
    width: 100%
    margin: 2rem auto
    height: 3rem
    background-image: url('../img/O.svg')
    background-position: center center
    background-size: contain
    background-repeat: no-repeat

a
    color: pmh-dorado
    &:hover, &:focus, &:visited
        color: inherit
        text-decoration: none

button#uco-button
    width: 3.5rem
    height: 3.5rem
    border: none
    border-radius: 5rem
    background: url('../img/uco-dispatcher-center_untitled-font-1.svg'), pmh-fondo
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    position: fixed
    bottom: 2.5rem
    right: 1.5rem
    cursor: pointer

body
    overflow-x: hidden

.navbar
    .navbar-brand
        .navbar-item
            
            margin: 0rem 5rem 0rem 3.33rem
            img 
                max-height: 6rem
    .navbar-menu
        p
            display: flex
            align-items: center
        .navbar-start
            a.navbar-item
                transition: color .3s ease
                &.lang
                    &.es
                        padding-right: 0.1rem
                    &.en
                        padding-left: 0.1rem

                &:hover
                    color: pmh-dorado

        .navbar-end
            a.navbar-item
                text-transform: uppercase
                transition: color .3s ease

                &:hover
                    color: pmh-dorado

            .navbar-dropdown
                min-width: 196.9px
                transform: translate(-146.5px, 0)

                a.navbar-item
                    transition: color .3s ease
                    text-transform: uppercase
                    &:hover
                        color: pmh-dorado

#home
    height: 60vh
    
    background-image: url('../img/select-01.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    & .titulo
        display: none

    &.quienes-somos
        background-image: url('../img/header-quienes-somos.jpg')
    
    &.servicios
        background-image: url('../img/select-00.jpg')
    
    &.bienes-raices
        background-image: url('../img/header-bienes-raices.jpg')
    
    &.apoyo-residentes
        background-image: url('../img/header-apoyo-residentes.jpg')

#bienvenida
    margin: 2.5rem auto 4rem auto
    p
        padding-bottom: 1.25rem
    .columns
        .column
            display: flex
            justify-content: center
            align-content: center
            align-items: center
            figure
                cursor: pointer
                p
                    text-transform: uppercase
                    text-align: center
                    font-weight: 600
                    font-size: 1rem

#quienes-somos
    .columns.links-abajo
        margin: 1rem 0 3rem 0
        .column
            p
                text-transform: uppercase
                color: pmh-dorado
#bienes-raices
    ul
        padding: 1rem 0 1rem 1rem

footer.footer
    background-color: pmh-footer
    color: #FFFFFF
    padding: 2rem 2rem 1rem 2rem
    .columns 
        justify-content: center
        align-content: center
        align-items: center

    img 
        height: 7rem
    a 
        color: #FFFFFF
        text-decoration: none
        cursor: pointer

        &:hover, &:focus, &:visited
            color: #FFFFFF
            text-decoration: none

#log
    #login-row
        form#login-form
            .input-group.input-group-lg
                .input-group-prepend
                    span
                        height: 100%

#uco-modal
    .modal-card-head
        p.modal-card-title
            color: pmh-dorado
            font-weight: 600
            text-align: center
            letter-spacing: .25ch 
            font-size: 1.5rem
            text-transform: uppercase



@media screen and (max-width: 768px)
    #home
        .titulo
            display: block
            position: relative
            top: 35%
            width: 100%
            padding: 1rem 0 1rem 1rem
            background-color: rgba(255,255,255,0.7)
            font-weight: 800
            text-align: center
    .titulo
        display: none

    .navbar
        .navbar-burger
            align-self: center

        .navbar-menu
            .navbar-start
                a.navbar-item
                    &.lang
                        &.es, &.en
                            padding-right: 0
                            padding-left: .75rem
                p 
                    display: none
            .navbar-end
                img,
                .navbar-dropdown
                    display: none
    
    #bienvenida 
        .columns 
            .column 
                margin-bottom: 2rem
    #servicios
        .columns
            .column
                figure.image
                    img
                        margin: 2rem auto 1rem
                p.subtitle
                    margin: 2rem 0 1.2rem;
                    text-align: center
                p:not(.subtitle)
                    margin-left: .25rem
                    margin-right: .25rem
                    text-align: justify
    #bienes-raices
        margin-top: 2rem
        p
            margin: auto .25rem auto 
            text-align: justify
    
    #amenidades
        margin-top: 2.5rem

        .card
            .card-content
                .content
                    a > p
                        text-align: center
                    p
                        text-align: justify
    
    #quienes-somos
        margin-top: 2rem

        p
            margin: auto .25rem .25rem
            text-align: justify
        
        h3.subtitulo
            text-align: center
        
        .columns
            .column
                h3
                    text-align: center
                p 
                    text-align: justify
                    margin: auto .25rem